body {
	text-align: right;
	direction: rtl;
	unicode-bidi: embed;
}
caption,
th {
	text-align: right;
}
blockquote:before {
	left: auto;
	right: 0;
}
blockquote {
	padding-left: 0;
	padding-right: 35px;
}
blockquote cite {
	text-align: left;
}
.breadcrumb {
	text-align: left;
}
.back-to-top {
	right: auto;
	left: 30px;
}
.no-js .owl-carousel, 
.owl-carousel.owl-loaded {
    direction: ltr;
}
.owl-carousel .entry-header,
.owl-carousel .entry-meta {
	direction: rtl;
}
.info-bar ul li {
	float: right;
}
.info-bar .right-section {
	float: left;
}
.info-bar .right-section ul {
	float: left;
	margin-right: 0;
	margin-left: -10px;
	padding-left: 0;
	padding-right: 10px;
}
.info-bar .right-section ul li:before {
	left: auto;
	right: 0;
}
.info-bar .left-section,
.info-bar .date {
	float: right;
}
.info-bar .left-section ul {
	float: right;
	margin-left: 0;
	margin-right: -10px;
	padding-right: 0;
	padding-left: 10px;
}
.info-bar .left-section ul li:before {
	right: auto;
	left: 0;
}
.info-bar .date {
	padding-right: 0;
	padding-left: 15px;
}
.hgroup-right {
	float: left;
	padding-left: 0;
	padding-right: 30px;
}
.hgroup-left {
	float: right;
	padding-right: 0;
	padding-left: 30px;
}
.headeradd .hgroup-right {
	margin-right: 30px;
	margin-left: 0;
	padding-right: 0;
}
.headeradd #site-logo {
	text-align: right;
}
.social-profiles,
.social-profiles ul {
	float: right;
}
.social-profiles ul li {
	margin-right: 0;
	margin-left: 12px;
	float: right;
}
input.s {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
	float: right;
}
.search-toggle,
.search-toggle-top {
	right: auto;
	left: 8px;
}
.search-toggle-top {
	float: left;
}
#search-box,
#search-box-top {
	right: auto;
	left: 0;
}
#search-box .arrow,
#search-box-top .arrow {
	right: auto;
	left: 10px;
}
#search-box .search-submit,
#search-box-top .search-submit {
	float: left;
}
.main-navigation {
	padding-right: 0;
	padding-left: 22px;
}
.main-navigation li { 
	float: right;
	margin-right: 0;
	margin-left: 25px;
}
.main-navigation a {
	float: right;
}
.main-navigation ul li ul {
	left: auto;
	right: 0;
}
.main-navigation ul li ul li {
	float: none;
}
.main-navigation ul li ul li a {
	float: none;
}
.main-navigation ul li ul li ul {
	left: auto;
	right: 200px;
}
.highlighted-posts span {
	margin-right: 0;
	margin-left: 8px;
	float: right;
	padding-right: 0;
	padding-left: 20px;
}
.highlighted-posts span:after {
	right: auto;
	left: 0;
	transform: translateY(calc(-50% + 1px)) rotate(180deg);
	-webkit-transform: translateY(calc(-50% + 1px)) rotate(180deg);
	-moz-transform: translateY(calc(-50% + 1px)) rotate(180deg);
}
.highlighted-posts:hover span:after {
	right: auto;
	left: -4px;
}
#main ul,
#main ol {
	margin-right: 30px;
	margin-left: 0
}
.sticky.has-post-thumbnail .post-featured-image {
	float: none;
	margin-left: 0;
}
.sticky.has-post-thumbnail .post-featured-content {
	float: none;
}
.post-featured-image {
	float: right;
	margin-right: 0;
	margin-left: 30px;
}
.entry-meta .by-author,
.entry-meta .date,
.entry-meta .comments {
	padding-right: 0;
	padding-left: 8px;
}
.entry-meta .date {
	margin-right: 0;
	margin-left: 8px;
}
.entry-meta .date:before {
	right: auto;
	left: 0;
}
.column {
	margin-left: 0;
	margin-right: -30px;
}
.one-half,
.one-third,
.one-fourth {
	float: right;
	padding-right: 30px;
	padding-left: 0;
}
.nav-links .nav-previous {
	float: right
}
.nav-links .nav-next {
	float: left;
	text-align: left;
}
.wp-pagenavi .pages {
	padding-right: 0;
	padding-left: 20px;
}
.wp-pagenavi .current,
.wp-pagenavi a {
	margin-left: 0;
	margin-right: -1px;
}
#main .comments-area ul,
#main .comments-area ol,
.comments-area article {
	margin-right: 20px;
	margin-left: 0;
}
.comments-area article header img {
	float: right;
}
.comments-area article header cite,
.comments-area article header time {
	margin-left: 0;
	margin-right: 70px;
}
#main .comments-area article header h4 {
	right: auto;
	left: 0;
}
.comments-area li.bypostauthor cite span {
	margin-left: 0;
	margin-right: 5px;
}
.commentlist .children {
	margin-left: 0;
	margin-right: 30px;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 0;
	margin-right: 10px;
}
label ~ span.required {
	float: right;
	margin-right: -1.142857143rem;
	margin-left: 0;
}
.page-title {
	float: right;
}
#bbpress-forums div.bbp-search-form {
	float: none;
}
#bbpress-forums #bbp-search-form #bbp_search {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
}
#bbpress-forums #bbp-search-form #bbp_search:focus {
	border-color: rgba(0, 0, 0, 0.15);
}
#bbpress-forums #bbp-search-form #bbp_search_submit {
	margin-left: 0;
	margin-right: -4px;
	border-left: none;
}
.woocommerce-page.no-sidebar-layout #primary,
.woocommerce-page.full-width-layout #primary {
	float: none;
}
.woocommerce.widget_product_search .search-field {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
	float: right;
}
.woocommerce.widget_product_search .search-field:focus {
	border-color: rgba(0, 0, 0, 0.15);
}

/* #Gutenberg Support */
.wp-block-quote,
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	padding-left: 0;
	padding-right: 35px;
}
.wp-block-quote[style="text-align:center"] {
	padding-left: 35px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content {
	-ms-flex-order: 1;
	order: 1;
}
.wp-block-media-text .wp-block-media-text__media,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	-ms-flex-order: 2;
	order: 2;
}
#content .wp-block-gallery {
	margin-left: auto;
	margin-right: 0;
}
#secondary .widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap,
#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post,
#colophon .widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap,
#colophon .widget_horizontal_vertical_post .horizontal-post .thumbnail-post {
	float: none;
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}
#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post .single-thumbnail-post,
#colophon .widget_horizontal_vertical_post .horizontal-post .thumbnail-post .single-thumbnail-post {
	padding-left: 0;
	padding-right: 0;
}
#main .widget-column-wrap .col,
.widget_2_column_grid .widget-column-wrap .col {
	float: right;
}
#main .widget_2_column_grid .widget-column-wrap .col,
.widget_2_column_grid .widget-column-wrap .col {
	float: none;
}
.owl-nav {
	right: auto;
	left: 0;
}
.widget .thumbnail-post .post-featured-image {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}
.widget .post-featured-image {
	float: none;
	margin-right: 0;
	margin-left: 0;
}
.widget .cat-links {
	left: auto;
	right: 10px;
	text-align: right;
}
.widget_nav_menu .sub-menu,
.widget_nav_menu .children {
	padding-left: 0;
	padding-right: 20px;
}
.widget_pages .children {
	padding-left: 0;
	padding-right: 20px;
}
.widget_tag_cloud a {
	margin-right: 0;
	margin-left: 5px;
}
.widget_custom-tagcloud a {
	padding-right: 0px;
	padding-left: 4px;
}
.widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap {
	float: right;
	padding-right: 0;
	padding-left: 15px;
	margin-right: 0;
	margin-left: 15px;
}
.widget_2_column_category .post-featured-image {
	text-align: right;
}
.widget_2_column_category .entry-header {
	left: auto;
	right: 0;
}
.widget_2_column_category .cat-links {
	left: auto;
	right: 0;
}
#colophon .widget-area {
	margin-left: 0;
	margin-right: -30px;
}
#colophon .column-wrap {
	float: right;
	padding-left: 0;
	padding-right: 30px;
}
#colophon .widget_archive ul ul li a,
#colophon .widget_pages ul ul li a,
#colophon .widget_nav_menu ul ul li a,
#colophon .widget_recent_entries ul ul li a,
#colophon .widget_categories ul ul li a,
#colophon .widget_recent_comments ul ul li a,
#colophon .widget_meta ul ul li a,
#colophon .widget_rss ul ul li a {
	padding-left: 0;
	padding-right: 20px;
}
#colophon .widget_archive ul ul ul li a,
#colophon .widget_pages ul ul ul li a,
#colophon .widget_nav_menu ul ul ul li a,
#colophon .widget_recent_entries ul ul ul li a,
#colophon .widget_categories ul ul ul li a,
#colophon .widget_recent_comments ul ul ul li a,
#colophon .widget_meta ul ul ul li a,
#colophon .widget_rss ul ul ul li a {
	padding-left: 0;
	padding-right: 30px;
}
#colophon .widget_nav_menu .sub-menu, 
#colophon .widget_nav_menu .children {
	padding-left: 0;
	padding-right: 0;
}
.site-info .social-profiles,
.site-info .social-profiles ul {
	float: left;
}
.site-info .social-profiles ul li {
	margin-left: 0;
	margin-right: 8px;
}
.site-info .copyright {
	float: right;
}
.featured-slider .feature-slide .entry-header {
	left: auto;
	right: 0;
}
@media only screen and (max-width: 1023px) {
	#primary,
	#secondary,
	.no-sidebar-layout #main,
	.nav-links .nav-previous,
	.nav-links .nav-next {
		float: none;
	}
	#secondary .widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap {
		float: right;
		padding-right: 0;
		padding-left: 15px;
		margin-right: 0;
		margin-left: 15px;
	}
	#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post {
		margin-right: -15px;
		margin-left: -15px;
	}
	#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post .single-thumbnail-post {
		padding-left: 15px;
		padding-right: 15px;
	}
	#secondary .widget_horizontal_vertical_post .widget-column-wrap,
	#secondary .widget_2_column_category.widget-column-wrap {
		margin-right: -15px;
		margin-left: -15px;
	}
	#secondary .widget_horizontal_vertical_post .widget-column-wrap .col,
	#secondary .widget_2_column_category.widget-column-wrap .col {
		padding-left: 15px;
		padding-right: 15px;
		float: right;
	}
}
@media only screen and (max-width: 767px) {
	#site-logo {
		text-align: right;
	}
	.menu-toggle,
	.info-bar-menu-toggle-right,
	.info-bar-menu-toggle-left {
		float: left;
	}
	.main-navigation {
		padding-right: 0;
		padding-left: 0;
	}
	.main-navigation li {
		margin-right: 0;
		margin-left: 0;
	}
	.main-navigation a {
		float: none;
	}
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current_page_ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current_page_item ul li a {
		padding-left: 0;
		padding-right: 15px;
	}
	.main-navigation ul li ul li ul {
		left: auto;
		right: 0;
	}
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li.current-menu-item ul li ul li a,
	.main-navigation ul li ul li.current-menu-item ul li a,
	.main-navigation ul li.current_page_ancestor ul li ul li a,
	.main-navigation ul li.current-menu-ancestor ul li ul li a,
	.main-navigation ul li.current_page_item ul li ul li a {
		padding-left: 0;
		padding-right: 25px;
	}
	.info-bar-menu-toggle-left {
		float: right;
		margin-right: 0;
		margin-left: 10px;
	}
	.info-bar .right-section ul,
	.info-bar .left-section ul {
		float: none;
		margin-right: 0;
		margin-left: 0;
		padding: 0 14px;
		right: auto;
		left: 0;
	}
	.info-bar .left-section ul {
		left: auto;
		right: 0;
	}
	.info-bar .right-section ul li,
	.info-bar .left-section ul li {
		float: none;
		text-align: left;
	}
	.info-bar .left-section ul li {
		text-align: right;
	}
	.column {
		margin-left: 0;
		margin-right: 0;
	}
	.one-half,
	.one-third,
	.one-fourth {
		padding-left: 0;
		padding-right: 0;
	}
	#main .widget-column-wrap,
	.widget_horizontal_vertical_post .horizontal-post .thumbnail-post,
	#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post,
	#secondary .widget_horizontal_vertical_post .widget-column-wrap,
	#secondary .widget_2_column_category.widget-column-wrap {
		margin-left: 0;
		margin-right: 0;
	}
	#main .widget-column-wrap .col,
	#secondary .widget_horizontal_vertical_post .widget-column-wrap .col,
	#secondary .widget_2_column_category.widget-column-wrap .col {
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
	.widget_horizontal_vertical_post .horizontal-post .thumbnail-post .single-thumbnail-post,
	#secondary .widget_horizontal_vertical_post .horizontal-post .thumbnail-post .single-thumbnail-post {
		padding-left: 0;
		padding-right: 0;
	}
	#main .widget_2_column_grid .widget-column-wrap,
	.widget_2_column_grid .widget-column-wrap {
		margin-left: -7px;
		margin-right: -7px;
	}
	#main .widget_2_column_grid .widget-column-wrap .col,
	.widget_2_column_grid .widget-column-wrap .col {
		padding-left: 7px;
		padding-right: 7px;
		float: right;
	}
	.widget .thumbnail-post .post-featured-image {
		margin-right: 0;
		margin-left: 12px;
	}
	.post-featured-image,
	.widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap,
	#secondary .widget_horizontal_vertical_post .horizontal-post .post-featured-image-wrap,
	#secondary .widget_horizontal_vertical_post .horizontal-post .single-thumbnail-post  {
		float: none;
		margin-right: 0;
		padding-right: 0;
	}
	#colophon .widget-area {
		margin-left: 0;
		margin-right: 0;
	}
	#colophon .column-half .column-wrap,
	#colophon .column-third .column-wrap,
	#colophon .column-fourth .column-wrap,
	.site-info .social-profiles,
	.site-info .copyright {
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	.site-info .social-profiles ul {
		float: none;
	}
	.site-info .social-profiles ul li {
		float: none;
		margin-left: 4px;
		margin-right: 4px;
	}
	.wp-block-media-text .wp-block-media-text__media,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
		-ms-flex-order: 1;
		order: 1;
	}
	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		-ms-flex-order: 2;
		order: 2;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.column {
		margin-left: 0;
		margin-right: -14px;
	}
	.one-half,
	.one-third,
	.one-fourth {
		padding-left: 0;
		padding-right: 14px;
	}
}
@media (max-width: 479px) {
	.highlighted-posts span {
		float: none;
	}
}
