#whats-new-form, .item-list-tabs {
	display: none;
}

ul.activity-list > li:first-child {
    padding-top: 20px;
}
ul.item-list li.activity-item {
    width: 25%;
    float: left;
    border: 0;
}
ul.item-list li.load-more {
	position: relative;
	width: 80%;
	height: 20px;
	clear: both;
	left: 10%;
	top: 10px;
}
.activity-meta {
	display: none;
}
li.activity-item  {
	/*border-radius: 30px;*/
	border-radius: 48px 60px;
	width: 25%;
	float: left;
	/**
	background: #CCC;
	position: relative;*/
}

.activity-header p {
	height: 50px;
	margin: 2px 0px 0px -10px;
	background: #DDD;
	overflow: hidden;
	vertical-align: bottom;
	padding: 5px 4px;
	position: absolute;
	width: 110%;
}
.activity-header p a:first-child {
	display: none;

}
.activity-header p a:nth-child(2) {
	/*margin-top: -30px;*/
	top:0;
	white-space: nowrap;
  	overflow: hidden;
}
.activity-header p {
	font-size:0;
}
.activity-header p > a {
	float: left;
	font-size:12px;
	width:100%;
}

.activity-header p:content {
	background: #98d;
}

#activity-mentions {display: none;}

